/* COLORS *
#E94C6F - pink
#542733 - purple
#596961 - dark graygreen
#C6D5CD - light graygreen
#FDF200 - yellow

#EF6461 - pastel red
#E4B363 - earth yellow
#E8E9EB - platinum
#E0DFD5 - gainsboro
#313638 - onyx
*/



/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,100);

body{
	font-family: Roboto;
}

p{
	word-wrap: break-word;
}


/* ------------------- Topbar ---------------------*/
#topbar{
	width: 100%;
	height: 48px;
	background-color: #E8E9EB;
}

#topbar .container {
	padding: 0;
	margin: 0;
	position: relative;
	transform: translateY(20%);
	

}

#topbar i{
	padding-left: 24px; 
	color: #313638;
}


/* ------------------- Sidebar ---------------------*/
#sidebar-wrapper{
	z-index: 1;
	position: absolute;
	width: 48px;
	height: 100%;
	overflow-y: hidden;
	background: #313638;
	transition: 0.4s;
}

/* Change the width of the sidebar to display it */
#wrapper.sidebarDisplayed #sidebar-wrapper{
	width: 250px;
} 

#wrapper.sidebarDisplayed #page-content-wrapper{
	padding-left: 250px;
}

.sidebar-nav{
	width: 100%;
	padding: 0;
}

.sidebar-nav li{
	width: 100%;
	line-height: 40px;
	white-space: nowrap;
	
}

.sidebar-nav li a{
	width: 100%;
	height: 100%;
	text-decoration: none;
	display: inline-block;
	color: #E8E9EB;
	font-size: 18px;
}

.sidebar-nav a:before
{
	font-family: FontAwesome;
	font-size: 1.5em;
	padding-right: 32px;
	padding-left: 10px;
}

.sidebar-nav a.dashboard-icon:before
{
	content: "\f0e4";
}

.sidebar-nav a.forum-icon:before
{
	content: "\f086";
}

.sidebar-nav a.home-icon:before
{
	content: "\f015";
}


/* --------------- Main content -------------------*/
#page-content-wrapper{
	width: 100%;
	height: 100%;
	position: absolute;
	margin-left: 48px;
	padding: 15px;
	background: #E0DFD5;
	transition: 0.4s;
}














