/* COLORS *
#E94C6F - pink
#542733 - purple
#596961 - dark graygreen
#C6D5CD - light graygreen
#FDF200 - yellow

#EF6461 - pastel red
#E4B363 - earth yellow
#E8E9EB - platinum
#E0DFD5 - gainsboro
#313638 - onyx
*/



/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,100);

body{
	font-family: Roboto;
}


/* ------------------- Topbar ---------------------*/
.topbar{
	width: 100%;
	height: 48px;
	background-color: #E8E9EB;
}

.topbar .container{
	padding: 0;
	margin: 0;
	
}

.topbar i{
	position: relative;
	transform: translateY(40%);
	padding-left: 24px; 
	color: #313638;
}



/* ------------------- Sidebar ---------------------*/
#sidebar-wrapper{
	z-index: 1;
	position: absolute;
	width: 48px;
	height: 100%;
	overflow-y: hidden;
	background: #313638;

}

/* Change the width of the sidebar to display it */
#wrapper.sidebarDisplayed #sidebar-wrapper{
	width: 250px;
} 

#wrapper.sidebarDisplayed #page-content-wrapper{
	padding-left: 250px;
}

.sidebar-nav{
	padding: 0;
}

.sidebar-nav li{
	line-height: 40px;
	white-space: nowrap;
}

.sidebar-nav li a{
	text-decoration: none;
	color: #E8E9EB;
	font-size: 18px;
}

.sidebar-nav a:before
{
	content: "#";
	padding-right: 32px;
	padding-left: 20px;
}


/* --------------- Main content -------------------*/
#page-content-wrapper{
	width: 100%;
	height: 100%;
	position: absolute;
	margin-left: 48px;
	padding: 15px;
	background: #E0DFD5;
}














