<div id="sidebar-wrapper">
	<div class="sidebar-content">

		<ul class="sidebar-nav">
	    	<li><a href="#">Dashboard</a></li>
	    </ul>
<!--
		<ul class="sidebar-nav">
			<li><span class="glyphicon glyphicon-globe"></span><a href="#">Dashboard</a></li>
			<li><span class="glyphicon glyphicon-book"></span><a href="#">Forum</a></li>
		</ul> -->
	</div>
<!--
	
	

	<h1>Welcome</h1>
	<p>Please create an account to join this awsome tournament community!</p>

	<button type="button" class="btn btn-default">Create Account</button>-->
</div>

