<div id="sidebar-wrapper">

	<ul class="sidebar-nav">
		<li><a class="home-icon" href="/">Home</a></li>
		<li><a class="forum-icon" href="#">Forum</a></li>
		
		<% if(loggedIn){ %>	
	    	<li><a class="dashboard-icon" href="/dashboard">Dashboard</a></li>
	    	<li><a class="clan-icon" href="/clan">Clan</a></li>
	    <% } %>
	    
	</ul>

	<div class="sidebar-content">



	</div>
<!--
	
	<h1>Welcome</h1>
	<p>Please create an account to join this awsome tournament community!</p>

	<button type="button" class="btn btn-default">Create Account</button>-->
</div>

