<div id="topbar" >
	<div class="container">
		<div class="row">
			<div class="col-xs-2">
				<!-- Hamburger button -->
				<i class="fa fa-bars fa-2x hamburger" id="sidebar-toggle"></i>	
			</div>

			<% if(loggedIn == false){ %>
				<div class="col-xs-3">
					<a class="btn btn-default" href="login"><span class="fa fa-user"></span> Login</a>
				</div>

				<div class="col-xs-3">
					<a class="btn btn-default" href="signup"><span class="fa fa-user"></span> Signup</a>
				</div>
			<% } else { %>
				<div class="col-xs-3">
				<a class="btn btn-default" href="logout"><span class="fa fa-user"></span> Logout</a>
				</div>
			<% } %>
			

			
		</div>
	</div>
</div>

