
<nav class="navbar navbar-default navbar-fixed-top">
	
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navlinks">
				<span class="glyphicon glyphicon-option-horizontal">
			</button>
		</div>

		<div class="collapse navbar-collapse" id="navlinks">
			<ul class="nav navbar-nav navbar-padding">
				<li class="active"><a herf="#">Dashboard</a></li>
				<li><a herf="#">Forum</a></li>
			</ul>
		</div>
	</div>

	<script>
    	$("#sidenar-toggle").click( function(e){
    		e.preventDefault();
    		$("#wrapper").toggleClass("menuDisplayed"); //Wrapper is in index
    	});
	</script>


</nav>

